html, body {
    margin: 0;
	height: 100%;
	width:100%;
}

* {
	box-sizing: border-box;
}


.container-1 {
    border: #1d5962 15px solid;
    padding: 15px;
    background-color: #000;
    margin: 0 0;
	height: 100%;
    color: #d8eee1;
    font-family: 'Roboto';
}

.list-wrapper {
    margin-bottom: 100px;
}

h1, h2, p {
    clear: both;
    color: #d8eee1;
}

ul {
    list-style: none;
    margin-bottom: 30px;
}

.what-do-list li,
.go-places-list li
{
    float: left;
    padding: 10px;    
}

li a {
    color: #d8eee1;
}

li a:hover {
    color: #8a9990;
    transition: 0.2s;
}

